@import "../../bower_components/dress-code/dist/sass/dress-code";

$dc-font-path: "fonts";

//  ---------------------------------------------------------------------------
//
//  Solution Center Feedback Styles
//
//  ---------------------------------------------------------------------------

.solution-center-feedback {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: $dc-white;
  z-index: 100;
  overflow: hidden;

  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &--opened {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    padding: 16px 3%;
    max-height: 80px;

    @media (max-width: 950px) {
      flex-direction: column;
      max-height: 220px;
      min-height: 220px;
    }
  }

  &--minified {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &--closed {
    justify-content: center;
    align-items: center;
    max-height: 0;
  }

  .feedback__title {
    width: 24%;
    line-height: 2rem;

    &--upper {
      font-size: 11px;
      text-transform: uppercase;

      @media (max-width: 950px) {
        font-size: 14px;
      }
    }

    &--lower {
      font-size: 18px;

      @media (max-width: 950px) {
        font-size: 21px;
      }
    }
  }

  .feedback__rating {
    width: 20%;

    &__stars {
      float: left;
      margin-right: 8px;

      &:not(:checked) {
        .feedback__rating__input {
          position: absolute;
          top: -9999px;
        }

        .feedback__rating__star {
          float: right;
          width: 24px;
          height: 24px;
          margin-right: 4px;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
          font-size: 200%;
          color: $dc-white;

          &.colored {
            color: $dc-yellow50;
          }

          &:before {
            content: '★';
          }
        }
      }
    }

    &__score {
      font-size: 14px;
    }
  }

  .feedback__comment {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 0 2%;
    color: $dc-black;

    @media (max-width: 950px) {
      padding: 0;
    }

    .dc-input {
      width: 70%;
      margin-bottom: 0;
    }

    .dc-btn {
      width: 28%;
      margin-left: 8px;
    }
  }

  .feedback__later {
    width: 10%;
    text-align: center;
    cursor: pointer;

    @media (max-width: 950px) {
      margin-bottom: 0 !important;
    }
  }

  .feedback__block {
    @media (max-width: 950px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .feedback__opener {
    background-color: $dc-gray20;
    padding-right: 1%;
    padding-left: 1%;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px 0 0 0;

    &__bottom-bar {
      width: 100%;
      height: 10px;
      background-color: $dc-gray20;
    }
  }
}
