<!-- if not minified -->
<div ng-if="!$ctrl.isMinified"
     class="solution-center-feedback"
     ng-class="{ 'solution-center-feedback--opened': $ctrl.isAvailable || $ctrl.debugConfig.showFeedback,
                 'solution-center-feedback--closed': !$ctrl.isAvailable && !$ctrl.debugConfig.showFeedback,
                 'solution-center-feedback--submitted': $ctrl.submitted }">

  <!-- how do you rate this app -->
  <div ng-if="!$ctrl.submitted"
       class="feedback__title feedback__block">
    <div class="feedback__title--upper">
      We value your opinion
    </div>
    <div class="feedback__title--lower">
      How do you rate {{ $ctrl.moduleName }}?
    </div>
  </div>

  <!-- feedback star rating -->
  <div ng-if="!$ctrl.submitted"
       class="feedback__rating feedback__block">
    <div class="feedback__rating__stars">
      <ng-repeat ng-repeat="i in [5,4,3,2,1]">
        <input type="radio"
               id="star-{{i}}"
               class="feedback__rating__input">
        <label for="star-{{i}}"
               class="feedback__rating__star"
               ng-class="{ colored: $ctrl.rating.actual >= i || $ctrl.rating.hover >= i }"
               ng-click="$ctrl.rate(i)"
               ng-mouseenter="$ctrl.update(i)"
               ng-mouseleave="$ctrl.update(0)"
               data-e2e="scf-star-{{i}}-input">
        </label>
      </ng-repeat>
    </div>
    <span class="feedback__rating__score">
      {{ $ctrl.rating.actual }}/5
    </span>
  </div>

  <!-- submit feedback -->
  <div ng-if="!$ctrl.submitted"
       class="feedback__comment feedback__block">
    <input ng-model="$ctrl.comment"
           type="text"
           class="dc-input"
           placeholder="Leave a comment (optional)"
           data-e2e="scf-comment-input">
    <button ng-click="$ctrl.submit()"
            class="dc-btn"
            ng-class="{ 'dc-btn--primary': $ctrl.rating.actual !== 0,
                        'dc-btn--disabled': $ctrl.rating.actual === 0 }"
            ng-disabled="$ctrl.rating.actual === 0"
            data-e2e="scf-submit-button">
      Submit
    </button>
  </div>

  <!-- answer later -->
  <div ng-if="!$ctrl.submitted"
       class="feedback__later feedback__block">
    <span ng-click="$ctrl.toggle()"
          class="dc-text"
          data-e2e="scf-minify-button">
      Answer later
    </span>
  </div>

  <!-- thank you message -->
  <div ng-if="$ctrl.submitted && !$ctrl.error"
       class="feedback__submitted">
    <span class="dc-text">
      Thanks!
    </span>
  </div>

  <!-- error message -->
  <div ng-if="$ctrl.error"
       class="feedback__error">
    <span class="dc-text">
      We were unable to record your feedback. We'll ask again later.
    </span>
  </div>

</div>

<!-- if minified -->
<div ng-if="$ctrl.isMinified"
     class="solution-center-feedback solution-center-feedback--minified">
  <div ng-click="$ctrl.toggle()"
       class="feedback__opener"
       data-e2e="scf-open-button">
    Rate {{ $ctrl.moduleName }}
  </div>
  <div class="feedback__opener__bottom-bar"></div>
</div>
